@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  color: #fff;
  background-color: #181f26;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

body::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #1890ff;
  width: 12px;
}

body::-webkit-scrollbar {
  background: #181f26;
  width: 12px;
}

.visually-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  line-height: normal;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Inter-Medium.e1060ec7.eot");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Inter-Medium.e1060ec7.eot");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter-Regular.034c55ee.eot");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Inter-Bold.cb1ca8ec.eot");
}
.container {
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 320px;
}
@media screen and (min-width: 390px) {
  .container {
    width: 390px;
  }
}
@media screen and (min-width: 744px) {
  .container {
    width: 744px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1210px;
  }
}

.vm-button {
  display: inline-block;
  min-width: 201px;
  padding: 1rem 2.5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  background: #1890ff;
  border: 0;
  border-radius: 12.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: "all" "0.25s" "cubic-bezier(0.4, 0, 0.2, 1)";
  transition: "all" "0.25s" "cubic-bezier(0.4, 0, 0.2, 1)";
}
.vm-button:hover {
  background: #0077e5;
  color: #bae7ff;
}

.vm-button-primary {
  display: inline-block;
  padding: 1rem 1.875rem;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #fff;
  background: #1890ff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: "all" "0.25s" "cubic-bezier(0.4, 0, 0.2, 1)";
  transition: "all" "0.25s" "cubic-bezier(0.4, 0, 0.2, 1)";
}
.vm-button-primary:hover {
  background: #0077e5;
  color: #bae7ff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url("../img/invest/hero/hero__bg.webp");
  background-size: 90rem;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 11.25rem;
}
.hero__title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.5rem;
  padding-top: 10rem;
  margin-bottom: 8rem;
}
.hero__txt {
  color: #fff;
  font-size: 1.125;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0225rem;
  margin-bottom: 0.25rem;
}
.hero__subtitle {
  text-align: center;
  margin-bottom: 1.87rem;
}
.hero__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41.9375rem;
  height: 19rem;
  overflow: hidden;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background-image: url("../img/invest/hero/hero__video-bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__video-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 88px;
  width: 88px;
  cursor: pointer;
  border-radius: 5.28806rem;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: "all" "0.25s" "cubic-bezier(0.4, 0, 0.2, 1)";
  transition: "all" "0.25s" "cubic-bezier(0.4, 0, 0.2, 1)";
}
.hero__video-button:hover {
  background: #1890ff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.87rem;
  margin-bottom: 12.62rem;
}
.solution__first {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 13rem;
          flex: 1 0 13rem;
}
.solution__first-title {
  margin-bottom: 1.25rem;
}
.solution__first-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.87rem;
}
.solution__first-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1.25rem;
  background-color: #212a33;
  padding: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #fff;
}
.solution__second {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 0.69rem;
}
.solution__second p {
  color: #c1cfdb;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0225rem;
}

.investment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto 8.44rem;
}
.investment__icon-box {
  width: 5.9375rem;
  height: 5.9375rem;
  padding: 0.0625rem;
  border-radius: 1.25rem;
  background: linear-gradient(20deg, rgba(24, 31, 38, 0.28) 25.36%, rgba(186, 231, 255, 0.28) 100%);
  -webkit-box-shadow: 10px 20px 100px 0px rgba(26, 33, 40, 0.3);
          box-shadow: 10px 20px 100px 0px rgba(26, 33, 40, 0.3);
}
.investment__icon-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  background: linear-gradient(135deg, rgba(32, 45, 49, 0.55) 0%, rgba(24, 31, 38, 0.26) 100%);
}
.investment__icon-box img {
  width: 4rem;
  height: 2.6875rem;
}
.investment__title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.5rem;
  color: #fff;
  max-width: 85.4375rem;
  margin-bottom: 2.5rem;
}
.investment__descr {
  color: #c1cfdb;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0225rem;
  max-width: 60.625rem;
  margin-bottom: 3.63rem;
}
.investment__bg-light {
  position: absolute;
  border: 1px solid red;
  top: -53%;
  left: 65%;
  -webkit-transform: translate(-50%, 50%) rotate(145.436deg);
          transform: translate(-50%, 50%) rotate(145.436deg);
  z-index: -5;
  width: 57.739rem;
  height: 21.90988rem;
  border-radius: 57.739rem;
  opacity: 0.3;
  background: linear-gradient(275deg, #1890ff 0.99%, #ebd3fc 104.83%);
  -webkit-filter: blur(125px);
  filter: blur(125px);
}

.round {
  position: relative;
  margin-bottom: 11.75rem;
}
.round__subtitle {
  color: #8296aa;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0225rem;
  margin-bottom: 1.44rem;
}
.round__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.88rem;
  margin-bottom: 3.12rem;
}
.round__header-title {
  width: 23.125rem;
}
.round__header-descr {
  color: #c1cfdb;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0225rem;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 35.875rem;
  background-color: #181f26;
  outline: 2px solid rgba(49, 61, 73, 0.5);
  border-radius: 1rem;
}

.calc__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20.8125rem;
  max-width: 20.8125rem;
  margin: 0.62rem 0 0.62rem 0.62rem;
  padding: 1.88rem 0.62rem 1.33rem 0.62rem;
  border-radius: 0.75rem;
  background: linear-gradient(192.87deg, #212a33 5.29%, #242e37 99.14%);
  outline: 1px solid rgba(49, 61, 73, 0.5);
}
.calc__sidebar--title {
  margin-left: 0.62rem;
  margin-bottom: 1.56rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #fff;
}
.calc__sidebar--info-txt {
  margin-top: auto;
  color: #8296aa;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.0175rem;
}

.calc__sidebar--selected-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.62rem 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.94rem;
  max-height: 7em;
  overflow: auto;
  padding-right: 0.5625rem;
}
.calc__sidebar--selected-list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  text-align: center;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
  width: 47%;
  color: #1890ff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  background: rgba(24, 144, 255, 0.2);
  border-radius: 1.25rem;
}
.calc__sidebar--selected-list--item-cash {
  margin-right: 6px;
}
.calc__sidebar--selected-list--item-precent {
  font-weight: 700;
}
.calc__sidebar--selected-list--item-delete {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212a33;
  border-radius: 50%;
  color: #8296aa;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 16px;
}
.calc__sidebar--selected-list--item-delete:hover {
  background: #0077e5;
}

.calc__sidebar--total-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.63rem;
  padding: 0.94rem 1.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0.625rem;
  background: #181f26;
}
.calc__sidebar--total-amount--title {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
}
.calc__sidebar--total-amount--cash {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.56rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #d5f1c5;
  letter-spacing: 0.03rem;
}
.calc__sidebar--total-amount--cash span {
  display: inline-block;
  padding: 0.31rem 0.5rem 0.25rem;
  border-radius: 1rem;
  background: #d5f1c5;
  color: #181f26;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0175rem;
}

.calc__sidebar--results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.94rem 1.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0.625rem;
  background: #181f26;
}
.calc__sidebar--results--title {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  margin-bottom: 1rem;
}
.calc__sidebar--results--cash {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8296aa;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.0175rem;
}
.calc__sidebar--results--cash span {
  color: #d5f1c5;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.01875rem;
}

.calc__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  padding: 1rem 1.31rem 2rem 1.38rem;
}

.calc__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  max-height: 30.5rem;
}
.calc__area--column {
  max-width: 23.75rem;
  min-width: 23.75rem;
}
.calc__area--column--title {
  width: 100%;
  padding: 0.62rem 0.77rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0175rem;
  text-align: center;
  color: #8296aa;
  border-radius: 1.15625rem;
  border: 1px solid rgba(49, 61, 73, 0.6);
  background: linear-gradient(193deg, #212a33 5.29%, #242e37 99.14%);
}
.calc__area--column-table {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1.15625rem;
  background: linear-gradient(193deg, #212a33 5.29%, #242e37 99.14%);
  border: 1px solid rgba(49, 61, 73, 0.6);
}
.calc__area--column-table--date {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #fff;
  border-bottom: 1px solid #313d49;
}
.calc__area--column-table--infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calc__area--column-table--infobox-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.calc__area--column-table--infobox-column h6 {
  margin-bottom: 0.25rem;
  color: #8296aa;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.0175rem;
}
.calc__area--column-table--infobox-column p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.0175rem;
}
.calc__area--column-table--infobox-column:last-child {
  padding-left: 1.5rem;
  border-left: 1px solid #313d49;
}
.calc__area::-webkit-scrollbar {
  width: 1em;
}
.calc__area::-webkit-scrollbar-track {
  background: #181f26;
  border-radius: 30px;
}
.calc__area::-webkit-scrollbar-thumb {
  background: #1890ff;
  border-radius: 30px;
}
.calc__area::-webkit-scrollbar-thumb:vertical {
  width: 8px;
}
.calc__area::-webkit-scrollbar-track:vertical {
  background: transparent;
  width: 8px;
}
.calc__area::-webkit-scrollbar:vertical {
  width: 8px;
}
.calc__area::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
}
.calc__area::-webkit-scrollbar-track:horizontal {
  background: transparent;
  width: 8px;
}
.calc__area::-webkit-scrollbar:horizontal {
  width: 8px;
  height: 8px;
}
.calc__area::-webkit-scrollbar-corner {
  display: none;
}

.calc__status-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-top: 1.31rem;
  width: 100%;
  border-top: 3px solid #313d49;
}
.calc__status-info--title {
  color: #8296aa;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0175rem;
  margin-right: 0.25rem;
}
.calc__status-info--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.63rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0175rem;
}
.calc__status-info--item-state {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 12.5rem;
}
.calc__status-info--item-state.gray {
  background-color: #212a33;
}
.calc__status-info--item-state.yellow {
  border: 1px solid #facd23;
}
.calc__status-info--item-state.blue {
  background-color: #1890ff;
}
.calc__status-info--item-state.darkblue {
  background-color: #1890ff;
  opacity: 0.2;
}

.calc__position--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.63rem;
}
.calc__position--item {
  width: 100%;
  padding: 1rem 1.88rem;
  color: #fff;
  border: 2px solid transparent;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  text-align: center;
  letter-spacing: 0.0175rem;
  border-radius: 12.5rem;
  background: #1890ff;
  cursor: pointer;
}
.calc__position--item.booked {
  background: transparent;
  border: 2px solid #facd23;
  color: #facd23;
  cursor: no-drop;
}
.calc__position--item.available {
  background: #1890ff;
}
.calc__position--item.sold {
  background: #212a33;
  cursor: no-drop;
}
.calc__position--item.selected {
  background: rgba(24, 144, 255, 0.2);
}
.calc__position--item:hover {
  background: #0077e5;
  color: #bae7ff;
}

.round__bg-light {
  position: absolute;
  z-index: -5;
  bottom: -30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 49.3125rem;
  height: 24.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 49.3125rem;
  opacity: 0.3;
  background: #ab95ff;
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

.metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 8.75rem;
}
.metrics__title {
  text-align: center;
  margin-bottom: 3.12rem;
}
.metrics__table {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
  gap: 1.87rem 1.94rem;
}
.metrics .vm-button-primary {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.metrics__table--item {
  padding: 2.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: #212a33;
}
.metrics__table--item-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1.25rem;
}
.metrics__table--item-fund-title {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1.25rem;
}
.metrics__table--item-descr {
  color: #c1cfdb;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.03rem;
}
.metrics__table--item.company-forecast {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.87rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.metrics__table--item.company-forecast div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.metrics__table--item.current-funds, .metrics__table--item.fund-volume {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 26.8125rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #212a33;
}
.metrics__table--item.current-funds {
  background-image: url("../img/invest/metrics/metrics_blue.webp");
}
.metrics__table--item.fund-volume {
  background-image: url("../img/invest/metrics/metrics_green.webp");
}

.block-stats {
  margin-top: auto;
}
.block-stats__subtitle {
  color: #c1cfdb;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: 0.0175rem;
  margin-bottom: 1rem;
}
.block-stats__ring-blue, .block-stats__ring-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-stats__ring-blue.ldBar path.mainline {
  stroke: #1890ff;
}
.block-stats__ring-blue.ldBar path.baseline {
  stroke: #2a4c6b;
}
.block-stats__ring-green.ldBar path.mainline {
  stroke: #73d13d;
}
.block-stats__ring-green.ldBar path.baseline {
  stroke: #314b33;
}

.ldBar {
  position: relative;
}

.ldBar-label {
  margin-left: 0.4rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
}

.ldBar-label:after {
  content: "%";
  display: inline;
}

.ldBar.no-percent .ldBar-label:after {
  content: "";
}

.ldBar path.mainline {
  stroke-width: 20;
  stroke: #1890ff;
  stroke-linecap: round;
}

.ldBar path.baseline {
  stroke-width: 20;
  stroke: #2a4c6b;
  stroke-linecap: round;
}

.benefits {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11.25rem;
}
.benefits-title, .benefits-descr, .benefits-subtitle {
  max-width: 60.3125rem;
  text-align: center;
  color: #fff;
}
.benefits-title {
  margin-bottom: 1.25rem;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 117.647%;
}
.benefits-descr {
  margin-bottom: 5.1rem;
  color: #c1cfdb;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.0225rem;
}
.benefits-subtitle {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.0225rem;
}

.benefits__wrapper {
  padding: 0.94rem;
  overflow: hidden;
  border-radius: 1.25rem;
  background-color: rgba(24, 31, 38, 0.8);
  width: 100%;
  height: 100%;
  min-height: 41.0625rem;
  max-height: 41.0625rem;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.63rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 71.25rem;
  max-height: 39.3125rem;
}

.benefits__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  min-width: 18.75rem;
  max-width: 18.75rem;
}
.benefits__list-item-title {
  color: #c1cfdb;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.0175rem;
  padding: 0.63rem;
  border-radius: 12.5rem;
  border: 1px solid #212a33;
  background: #212a33;
}

.benefits__descr--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.32rem;
  width: 100%;
}
.benefits__descr--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.38rem;
  border-radius: 0.625rem;
  border: 1px solid rgba(49, 61, 73, 0.6);
  background: #212a33;
}
.benefits__descr--item-title {
  padding: 1.25rem 0.93rem 0;
  margin-bottom: 0.37rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.02rem;
}
.benefits__descr--item-explan {
  padding: 0 1rem 0 0.93rem;
  margin-bottom: 1.25rem;
  color: #c1cfdb;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: 0.0175rem;
  overflow: scroll;
  max-height: 6em;
}

.benefits__list::-webkit-scrollbar {
  width: 1em;
}
.benefits__list::-webkit-scrollbar-track {
  background: #181f26;
  border-radius: 30px;
}
.benefits__list::-webkit-scrollbar-thumb {
  border-radius: 0.15625rem;
  background: #313d49;
}
.benefits__list::-webkit-scrollbar-thumb:vertical {
  width: 8px;
}
.benefits__list::-webkit-scrollbar-track:vertical {
  background: transparent;
  width: 8px;
}
.benefits__list::-webkit-scrollbar:vertical {
  width: 5px;
}
.benefits__list::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
}
.benefits__list::-webkit-scrollbar-track:horizontal {
  background: transparent;
  width: 8px;
}
.benefits__list::-webkit-scrollbar:horizontal {
  width: 8px;
  height: 5px;
}
.benefits__list::-webkit-scrollbar-corner {
  display: none;
}

.benefits__bg-light {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  z-index: -5;
  width: 49.3125rem;
  height: 24.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 49.3125rem;
  background: #2f80ed;
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

.about-me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 38.25rem;
  padding: 3.81rem 4.12rem 3.81rem 5.44rem;
  margin-bottom: 11.25rem;
  overflow: hidden;
  border-radius: 1.25rem;
  background-image: url("../img/invest/about-me/about-me_bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #212a33;
}
.about-me__box {
  max-width: 35.3125rem;
}
.about-me__box--title {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.06rem;
  margin-bottom: 1.33rem;
}
.about-me__box--descr {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.0225rem;
  margin-bottom: 1.5rem;
}
.about-me__box--descr:last-child {
  margin: 0;
}
.about-me__photo {
  position: absolute;
  bottom: 0;
  right: 3.06rem;
  width: 24.0625rem;
  height: 33.82306rem;
  -webkit-transform: rotate(-0.426deg);
          transform: rotate(-0.426deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 57.1875rem;
  padding: 3.75rem 1rem 1rem 1rem;
  margin-bottom: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  border-radius: 1.25rem;
  background-image: url("../img/invest/roadmap/roadmap_bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #212a33;
}
.roadmap__headbox {
  max-width: 60.625rem;
  text-align: center;
}
.roadmap__headbox-title {
  margin-bottom: 1.25rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.roadmap__headbox-descr {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #c1cfdb;
  letter-spacing: 0.02rem;
}

.roadmap__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  height: 100%;
}
.roadmap__container--road-line {
  width: 10.40625rem;
  height: 31.375rem;
  margin-bottom: 3rem;
  margin-right: 8rem;
}

.road-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.13rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.road-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.1875rem 0.5rem 0.3125rem 0.5rem;
  -ms-flex-item-align: end;
      align-self: end;
  gap: 0.25rem;
  border-radius: 0.625rem;
  background: rgba(30, 42, 53, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.road-statistics__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0.25rem;
}
.road-statistics__revenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}
.road-statistics__revenue p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.1875rem 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 120%;
  color: #ed5959;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 0.3125rem;
  background-color: rgba(141, 106, 104, 0.3);
}
.road-statistics__revenue p:last-child {
  color: #8bda8e;
  background-color: rgba(120, 248, 155, 0.3);
}

.road-fork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.1875rem 0.5rem 0.3125rem 0.5rem;
  gap: 0.25rem;
  border-radius: 0.625rem;
  background: rgba(30, 42, 53, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.road-fork--header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.62rem;
}
.road-fork--height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  border-radius: 0.4375rem;
  background: #1890ff;
}
.road-fork--version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.63rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
}
.road-fork--version p {
  position: relative;
}
.road-fork--version p:last-child::before {
  content: "  ";
  position: absolute;
  left: -7.7%;
  width: 0.0625rem;
  height: 100%;
  background-color: #8296aa;
}
.road-fork--title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.road-fork--advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.25rem;
}
.road-fork--advantages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding: 0.1875rem 0rem;
  border-radius: 0.3125rem;
  background: rgba(255, 255, 255, 0.05);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 120%;
  color: #fff;
  text-wrap: nowrap;
  text-align: center;
}

.start {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(10%, -20%);
          transform: translate(10%, -20%);
}
.start .road-fork--height::before {
  content: url("../img/invest/roadmap/2021.svg");
  position: absolute;
  top: 30%;
  left: -19%;
  z-index: -1;
  width: 2.5625rem;
  height: 0.65231rem;
}

.v0-6 {
  bottom: 8.5%;
  left: 5%;
  -webkit-transform: translate(10%, -20%);
          transform: translate(10%, -20%);
}
.v0-6 .road-fork--header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.v0-6 .road-fork--height::after {
  content: url("../img/invest/roadmap/v0.6.svg");
  position: absolute;
  top: -72%;
  right: -52%;
  z-index: -1;
  width: 9.0625rem;
  height: 1.9375rem;
}

.v0-8 {
  bottom: 10%;
  right: 10.5%;
  -webkit-transform: translate(10%, -20%);
          transform: translate(10%, -20%);
}
.v0-8 .road-statistics {
  -ms-flex-item-align: start;
      align-self: start;
}
.v0-8 .road-fork--height::before {
  content: url("../img/invest/roadmap/v0.8.svg");
  position: absolute;
  top: 40%;
  left: -62%;
  z-index: -1;
  width: 11.25rem;
  height: 2.125rem;
}

.v1-0 {
  top: 34%;
  left: -0.5%;
  -webkit-transform: translate(10%, -20%);
          transform: translate(10%, -20%);
}
.v1-0 .road-fork--header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.v1-0 .road-fork--height::after {
  content: url("../img/invest/roadmap/v1.0.svg");
  position: absolute;
  top: 40%;
  right: -30%;
  z-index: -1;
  width: 7.875rem;
  height: 5.9375rem;
}

.v5-0 {
  top: 26.5%;
  right: 5.5%;
  -webkit-transform: translate(10%, -20%);
          transform: translate(10%, -20%);
}
.v5-0 .road-statistics {
  -ms-flex-item-align: start;
      align-self: start;
}
.v5-0 .road-fork--height::after {
  content: url("../img/invest/roadmap/v5.0.svg");
  position: absolute;
  top: -25%;
  left: -14%;
  z-index: -1;
  width: 3.96875rem;
  height: 1.07838rem;
}
.v5-0 .road-fork--advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wartime {
  position: relative;
  margin-bottom: 11.25rem;
}
.wartime__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.25rem;
  overflow: hidden;
  border: 1px solid #313d49;
  background-color: #181f26;
}
.wartime__img {
  min-width: 30.0625rem;
  min-height: 17.25rem;
}
.wartime__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  padding: 2.75rem 6.25rem 2.12rem 1.13rem;
}
.wartime__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
}
.wartime__descr {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02rem;
}
.wartime__bg-light {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -70%) rotate(159.436deg);
          transform: translate(-60%, -70%) rotate(159.436deg);
  z-index: -5;
  width: 57.739rem;
  height: 21.90988rem;
  border-radius: 57.739rem;
  opacity: 0.3;
  background: linear-gradient(275deg, #1890ff 0.99%, #ebd3fc 104.83%);
  -webkit-filter: blur(125px);
          filter: blur(125px);
}/*# sourceMappingURL=main.css.map */