.round {
  position: relative;
  margin-bottom: 11.75rem;
  &__subtitle {
    color: $cl-text-disabled;
    @include font($fs-15, 400);
    letter-spacing: 0.01875rem;
    margin-bottom: 1.25rem;
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
    margin-bottom: 2.5rem;

    &-title {
      @include font($fs-24, 700, 120%);
      color: $cl-text-primary;
    }
    &-descr {
      color: $cl-text-secondary;
      @include font($fs-16, 400, 175%);
      letter-spacing: 0.02rem;
    }
  }
  @media screen and (min-width: 768px) {
    &__subtitle {
      @include font($fs-18, 400);
      letter-spacing: 0.0225rem;
      margin-bottom: 1.44rem;
    }

    &__header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1.88rem;
      margin-bottom: 3.12rem;

      &-title {
        width: 23.125rem;
        @include font($fs-34, 700);
      }
    }
  }
  @media screen and (min-width: 992px) {
    &__header {
      &-title {
        @include font($fs-48, 700);
      }
      &-descr {
        @include font($fs-18, 400, 166.667%);
        letter-spacing: 0.0225rem;
      }
    }
  }
}

.calc {
  display: flex;
  width: 100%;
  min-height: 35.875rem;
  overflow-x: scroll;

  background-color: $cl-bg-default;
  outline: 2px solid rgba(49, 61, 73, 0.5);
  border-radius: $br-16;
}

.calc__sidebar {
  display: flex;
  flex-direction: column;

  min-width: 20.8125rem;
  max-width: 20.8125rem;
  margin: 0.62rem 0 0.62rem 0.62rem;
  padding: 1.88rem 0.62rem 1.33rem 0.62rem;

  border-radius: $br-12;
  background: linear-gradient(192.87deg, #212a33 5.29%, #242e37 99.14%);
  outline: 1px solid rgba(49, 61, 73, 0.5);

  &--title {
    margin-left: 0.62rem;
    margin-bottom: 1.56rem;

    @include font($fs-24, 700, 1.875rem);
    color: $cl-text-primary;
  }
  &--info-txt {
    margin-top: auto;

    color: $cl-text-disabled;
    @include font($fs-14, 400);
    text-align: center;
    letter-spacing: 0.0175rem;
  }
}
.calc__sidebar--selected-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.62rem 0.5rem;
  justify-content: space-between;
  margin-bottom: 0.94rem;
  max-height: 7em;
  overflow: auto;
  padding-right: 0.5625rem;
  &--item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    text-align: center;
    padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;

    width: 47%;

    color: $cl-primary-main;
    @include font($fs-14, 400);

    background: rgba(24, 144, 255, 0.2);
    border-radius: $br-20;

    &-cash {
      margin-right: 6px;
    }
    &-precent {
      font-weight: 700;
    }
    &-delete {
      align-items: center;
      background: #212a33;
      border-radius: 50%;
      color: #8296aa;
      cursor: pointer;
      display: flex;
      height: 16px;
      justify-content: center;
      margin-left: auto;
      width: 16px;
      &:hover {
        background: $cl-primary-dark;
      }
    }
  }
}

.calc__sidebar--total-amount {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
  padding: 0.94rem 1.25rem;
  margin-bottom: 0.5rem;

  border-radius: $br-10;
  background: $cl-bg-default;
  &--title {
    @include font($fs-14, 400, 2rem);
    color: $cl-text-primary;
  }
  &--cash {
    display: inline-flex;
    align-items: center;
    gap: 0.56rem;

    @include font($fs-24, 700, 2rem);
    color: $cl-success-light-100;
    letter-spacing: 0.03rem;

    & span {
      display: inline-block;
      padding: 0.31rem 0.5rem 0.25rem;
      border-radius: $br-16;
      background: $cl-success-light-100;

      color: $cl-text-dark;
      @include font($fs-14, 700);
      letter-spacing: 0.0175rem;
    }
  }
}

.calc__sidebar--results {
  display: flex;
  flex-direction: column;
  padding: 0.94rem 1.25rem;
  margin-bottom: 0.5rem;

  border-radius: $br-10;
  background: $cl-bg-default;
  &--title {
    @include font($fs-14, 400);
    color: $cl-text-primary;
    margin-bottom: 1rem;
  }
  &--cash {
    display: inline-flex;
    justify-content: space-between;
    color: $cl-text-disabled;
    @include font($fs-14, 600, 2rem);
    letter-spacing: 0.0175rem;

    & span {
      color: $cl-success-light-100;
      @include font($fs-16, 700, 2rem);
      letter-spacing: 0.01875rem;
    }
  }
}

.calc__wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 100%;
  min-height: 100%;
  padding: 1rem 1.31rem 2rem 1.38rem;
}

.calc__area {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  max-height: 30.5rem;

  &--column {
    max-width: 23.75rem;
    min-width: 23.75rem;
    &--title {
      width: 100%;
      padding: 0.62rem 0.77rem;
      margin-bottom: 0.75rem;

      @include font($fs-14, 700);
      letter-spacing: 0.0175rem;
      text-align: center;
      color: $cl-text-disabled;

      border-radius: $br-18;
      border: 1px solid $cl-divider-light;
      background: $gradient;
    }
  }

  &--column-table {
    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: $br-18;
    background: $gradient;
    border: 1px solid $cl-divider-light;

    &--date {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;

      @include font($fs-16, 700, 1.875rem);
      color: $cl-text-primary;
      border-bottom: 1px solid $cl-divider-dark;
    }
    &--infobox {
      display: flex;
    }
    &--infobox-column {
      flex: 1;

      & h6 {
        margin-bottom: 0.25rem;

        color: $cl-text-disabled;
        @include font($fs-14, 400, 1.125rem);
        letter-spacing: 0.0175rem;
      }
      & p {
        color: $cl-text-primary;
        @include font($fs-14, 700, 1.125rem);
        letter-spacing: 0.0175rem;
      }

      &:last-child {
        padding-left: 1.5rem;
        border-left: 1px solid $cl-divider-dark;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    background: #181f26;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb {
    background: #1890ff;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    width: 8px;
  }

  &::-webkit-scrollbar-track:vertical {
    background: transparent;
    width: 8px;
  }

  &::-webkit-scrollbar:vertical {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    width: 8px;
  }
  &::-webkit-scrollbar-track:horizontal {
    background: transparent;
    width: 8px;
  }
  &::-webkit-scrollbar:horizontal {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.calc__status-info {
  display: flex;
  gap: 1rem;
  padding-top: 1.31rem;
  width: 100%;
  border-top: 3px solid $cl-divider-dark;

  &--title {
    color: $cl-text-disabled;
    @include font($fs-14, 700);
    letter-spacing: 0.0175rem;
    margin-right: 0.25rem;
  }
  &--item {
    display: flex;
    align-items: center;
    gap: 0.63rem;

    color: $cl-text-primary;
    @include font($fs-14, 500);
    letter-spacing: 0.0175rem;

    &-state {
      width: 1.125rem;
      height: 1.125rem;
      border-radius: $br-200;

      &.gray {
        background-color: $cl-bg-paper;
      }
      &.yellow {
        border: 1px solid $cl-info-main;
      }
      &.blue {
        background-color: $cl-primary-main;
      }
      &.darkblue {
        background-color: $cl-primary-main;
        opacity: 0.2;
      }
    }
  }
}
.calc__position {
  &--list {
    display: flex;
    flex-direction: column;
    gap: 0.63rem;
  }
  &--item {
    width: 100%;
    padding: 1rem 1.88rem;

    color: $cl-text-primary;
    border: 2px solid transparent;
    @include font($fs-14, 700, 1.125rem);
    text-align: center;
    letter-spacing: 0.0175rem;

    border-radius: $br-200;
    background: $cl-primary-main;
    cursor: pointer;

    &.booked {
      background: transparent;
      border: 2px solid $cl-info-main;
      color: $cl-info-main;
      cursor: no-drop;
    }
    &.available {
      background: $cl-primary-main;
    }
    &.sold {
      background: $cl-bg-paper;
      cursor: no-drop;
    }
    &.selected {
      background: $cl-primary-light-100;
    }
    &:hover {
      background: $cl-primary-dark;
      color: #bae7ff;
    }
  }
}

.round__bg-light {
  position: absolute;
  z-index: -5;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 49.3125rem;
  height: 24.875rem;
  flex-shrink: 0;
  border-radius: 49.3125rem;
  opacity: 0.3;
  background: #ab95ff;
  filter: blur(250px);
}
