.solution {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 7.5rem;

  &__first {
    flex: 1 0 13rem;

    &-title {
      margin-bottom: 1.25rem;
      @include font($fs-20, 700);
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 0.63rem;
    }
    &-txt {
      flex: 1;
      border-radius: $br-20;
      background-color: $cl-bg-paper;
      padding: 1.25rem;
      @include font(0.9375rem, 500, 1.25rem);
      color: $cl-text-primary;
    }
  }
  &__second {
    flex: 1;
    margin-top: 0.69rem;

    & p {
      color: $cl-text-secondary;
      @include font($fs-16, 400, 150%);
      letter-spacing: 0.0225rem;
    }
  }

  @media screen and (min-width: 922px) {
    flex-direction: row;
    gap: 1.87rem;
    margin-bottom: 12.62rem;
    &__first {
      flex: 1 0 13rem;
      &-title {
        margin-bottom: 1.25rem;
        @include font($fs-48, 700);
      }
      &-box {
        display: flex;
        flex-direction: row;
        gap: 1.87rem;
      }
      &-txt {
        flex: 1;
        border-radius: $br-20;
        background-color: $cl-bg-paper;
        padding: 1.25rem;
        @include font(0.9375rem, 500, 1.25rem);
        color: $cl-text-primary;
      }
    }
    &__second {
      flex: 1;
      margin-top: 0.69rem;

      & p {
        color: $cl-text-secondary;
        @include font($fs-18, 400, 166.667%);
        letter-spacing: 0.0225rem;
      }
    }
  }
}
