.solution {
  display: flex;
  gap: 1.87rem;
  margin-bottom: 12.62rem;

  &__first {
    flex: 1 0 13rem;
    &-title {
      margin-bottom: 1.25rem;
    }
    &-box {
      display: flex;
      gap: 1.87rem;
    }
    &-txt {
      flex: 1;
      border-radius: $br-20;
      background-color: $cl-bg-paper;
      padding: 1.25rem;
      @include font(0.9375rem, 500, 1.25rem);
      color: $cl-text-primary;
    }
  }
  &__second {
    flex: 1;
    margin-top: 0.69rem;

    & p {
      color: $cl-text-secondary;
      @include font($fs-18, 400, 1.875rem);
      letter-spacing: 0.0225rem;
    }
  }
}
