body {
  font-family: "Inter";
  font-style: normal;
  color: $cl-text-primary;
  background-color: $cl-bg-default;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
}
body.modal-open {
  overflow: hidden;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

body::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: $cl-primary-main;
  width: 12px;
}

body::-webkit-scrollbar {
  background: #181f26;
  width: 12px;
}

.visually-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: $cl-text-primary;
  @include font($fs-48, 700);
  font-style: normal;
  line-height: normal;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url("../fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
}

.ldBar {
  position: relative;
}
.ldBar-label {
  margin-left: 0.4rem;
  color: $cl-text-primary;
  @include font($fs-48, 700, 100%);
}
.ldBar-label:after {
  content: "%";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}
.ldBar path.mainline {
  stroke-width: 20;
  stroke: $cl-primary-main;
  stroke-linecap: round;
}
.ldBar path.baseline {
  stroke-width: 20;
  stroke: #2a4c6b;
  stroke-linecap: round;
}
