@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  color: $cl-text-primary;
  background-color: $cl-bg-default;
  letter-spacing: 0.03em;
  overflow-x: hidden;
}
body.modal-open {
  overflow: hidden;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

body::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: $cl-primary-main;
  width: 12px;
}

body::-webkit-scrollbar {
  background: #181f26;
  width: 12px;
}

.visually-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: $cl-text-primary;
  @include font($fs-48, 700);
  font-style: normal;
  line-height: normal;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Inter-Medium.e1060ec7.eot");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Inter-Medium.e1060ec7.eot");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter-Regular.034c55ee.eot");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Inter-Bold.cb1ca8ec.eot");
}
